<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
  <meta charset="utf-8">
  <title>Generic Non-Trademarked Word Replacement Game</title>
  <meta name="description" content="html">
  <meta name="author" content="Ben">
      <!-- CSS from getbootstrap.com -->
    <!-- icons from feathericons.com/ -->
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "wordgame/css/bootstrap.min.css" %}'>
    <script src='{% static "wordgame/js/recorder.js" %}'></script>
</head>
<body>
<div class="container" id="mainContainer">

    <div id="heading" class="row">
        <div class="col-11">
    <h1 class="text-primary">Generic Non-Trademarked Word Replacement Game*</h1>
    <h5>Now with machine learning and a British accent!</h5>
    <br>
    </div>
    <div id="helpButton" class="col-1">
        <p class="text-right">
        <button onClick="showHelp();" class="btn btn-outline-primary"><img src='{% static "wordgame/images/help-circle.svg" %}' alt="help button"></button>
        </p>
    </div>
    </div>

    <div id="helpContainer" style="display: None">
        <div class="row">
            <div class="col-11">
      <h5 class="text-primary">How To Use This Crazy Contraption</h5>
</div>
<div class="col-1">
        <p class="text-right">
            <button onClick="closeHelp();" class="btn btn-primary text-white" aria-label="close help screen">X</button>
        </p>
    </div>
    </div>
    <div class="row">
        <div class="col">
    <p>
        The category bar at the top shows you what your mystery sentences will be about. The darker the topic label the more the sentence is about that topic.
    </p><p>
        Think up a funny word for the parts of speech and fill them in.
    </p>
    <p>
        Click the "Show It" button too see what you created.<br>
        Click "Say It" to have the creation read to you in a bad robotic voice. Please be aware that the hamsters powering our servers are elderly so it may take some time for the audio file to be created.
    </p>
    <p>
        The game tries to learn what topics you like so click the thumbs up or thumbs down icon so we can learn what you like.
    </p>
    <p>
        When you are ready to play again you can click the "Stored Headline" button to get another game from our database. If you want a current news headline click the "Current Headline" button. If you want try a headline based on your location click the "Local Headline" button.
    </p>
        <br></div>
    </div>
    </div>

    <div class="row">
<div class="col-4">
    <a href="/wordgame">Main Game</a>
</div>
<div class="col-4">
    <a href="/wordgame/creations">View Other User's Creations</a>
</div>
                <div class="col-4">
            {% if user.is_authenticated %}
            <p>
            Hello, {{ user.username|default:'Guest' }}!
              (<a href="/wordgame/dashboard/">My Account</a> | <a href="{% url 'logout' %}">Logout</a>)
            </p>
              {% else %}
            Hello, Guest
              <p><a href="/wordgame/accounts/login">Login</a> or <a href="{% url 'register' %}">Register</a></p>
              {% endif %}
        </div>
    </div>


{% block content %}
{% endblock %}

<div class="row" id="bottom">
    <br>
    <p class="text text-secondary">
    *WARNING: Pregnant women, the elderly, and children under 10 should avoid prolonged exposure to Generic Word Game. Generic Word Game contains an unstable articifical intelligence core, which, if exposed due to rupture, should not be touched, inhaled, or looked at. Discontinue use of Generic Word Game if any of the following occurs: itching, vertigo, dizziness, tingling in extremities, loss of balance, slurred speech, temporary blindness, profuse sweating, or heart palpitations. If Generic Word Game begins to smoke, get away immediately. Seek shelter and cover head. When not in use the artificial intelligence core should be kept in it's special container and kept under refrigeration. Some ingredients are unknown. Do not taunt Generic Word Game. Generic Word Game comes with a lifetime warranty.
</p>
</div>
<!-- end main div tag -->
</div>
</body>
</html>