<!DOCTYPE html>
{% extends "wordgame/base_generic.html" %}
{% load static %}
{% block content %}
<div class="row bg-primary p-2">

    <h5 class="text-white">Account Administration</h5>
</div>


    {% if user.is_authenticated %}
<div class="row pt-4">
    <h5>Saved Creations</h5>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Text</td>
        <td>Public?</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for creation in creations %}
    <tr>
        <td>{{creation.id}}</td>
        <td>{{creation.text}}</td>
        <td>{{creation.public}}</td>
        <td>
            {% if creation.public is False %}
            <form action="{% url 'creationdelete' %}" method='POST'>
                <input type="hidden" name="cid" id="cid{{creation.id}}" value="{{creation.id}}">
            {% csrf_token %}
                <button type="submit"><img src ='{% static "wordgame/images/trash-2.svg" %}'>
                </button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
 {% endif %}
{% endblock %}