<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Generic Non-Trademarked Word Replacement Game</title>
          <!-- CSS from getbootstrap.com -->
    <!-- icons from feathericons.com/ -->
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "wordgame/css/bootstrap.min.css" %}'>
</head>
    <style>
        input[type="radio"]{
  margin: 0 5px 0 25px;
}
    </style>
<body>
<div class="container" id="heading">
    <h1 class="text-primary">Generic Non-Trademarked Word Replacement Game*</h1>
        <h5>Now with machine learning and a British accent!</h5>
    <br>
</div>
<div id="newUser" class="container bg-primary"><br>
    <h5 class="text-white">Howdy, You seem like you're new here. What's your favorite topic?</h5>
    <br>
    <form action="{% url 'init' %}" method="POST">
        {% csrf_token %}
        <input type="radio" id="entertainment" name="category" value="entertainment">
        <label class="text-white">Entertainment</label>
        <input type="radio" id="health" name="category" value="health">
        <label class="text-white">Health</label>
        <input type="radio" id="politics" name="category" value="politics">
        <label class="text-white">Politics</label>
        <input type="radio" id="sports" name="category" value="sports">
        <label class="text-white">Sports</label>
        <input type="radio" id="tech" name="category" value="tech">
        <label class="text-white">Technology</label>
        <br>
        <br>
    <button type="submit" name="submit" value="submit" class="btn btn-light">Let's Start the Game!</button>
    </form>
    <br>
    <br>
</div>
<div class="container" id="bottom">
    <br>
    <p class="text text-secondary">
    *WARNING: Pregnant women, the elderly, and children under 10 should avoid prolonged exposure to Generic Word Game. Generic Word Game contains an unstable articifical intelligence core, which, if exposed due to rupture, should not be touched, inhaled, or looked at. Discontinue use of Generic Word Game if any of the following occurs: itching, vertigo, dizziness, tingling in extremities, loss of balance, slurred speech, temporary blindness, profuse sweating, or heart palpitations. If Generic Word Game begins to smoke, get away immediately. Seek shelter and cover head. When not in use the artificial intelligence core should be kept in it's special container and kept under refrigeration. Some ingredients are unknown. Do not taunt Generic Word Game. Generic Word Game comes with a lifetime warranty.
</p>
</div>
</body>
</html>